.certificate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f4f8;
  }
  
  .certificate {
    width: 700px;
    height: 500px;
    padding: 40px;
    background-color: white;
    border: 10px solid #3a3a3a;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Georgia', serif;
  }
  
  .certificate-header h1 {
    font-size: 22px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-style: italic;
  }
  
  .certificate-body {
    margin-top: 60px;
  }
  
  .certificate-text {
    font-size: 24px;
    margin-bottom: 30px;
    font-style: italic;
  }
  
  .certificate-text strong {
    color: #4CAF50;
    font-style: italic;
  }
  
  .certificate-date {
    font-size: 1.2em;
    margin-top: 30px;
    color: #666;
  }

 .certificate-auto {
  padding-top: 200px;
 }
 .certificate-auto p {
  font-style: italic;
 }
  
  .print-button {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .print-button:hover {
    background-color: #45a049;
  }
  
  @media print {
    
    .certificate-container {
      margin: 0;
      padding: 0;
      display: block;
    }
  
    .certificate {
      width: 100%;
      /* border: none; */
      /* box-shadow: none; */
      padding: 20px;
    }
  
    .certificate-header h1 {
      font-size: 2.5em;
    }
  
    .print-button {
      display: none;
    }
    button {
      display: none;
    }
  }
  @page {
    margin:10px;
  }
  